<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div *ngIf="autos" class="card mx-auto">

  <table  class="table table-striped ms-3 ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Precio</th>
          <th scope="col" *ngIf="showImg">Imagen</th>
          <th scope="col">Calificación</th>
          <th scope="col-3">Acciones</th>
          <th class="row-cols-4">
            <select name="" class="form-control me-3 col" style="width:45px" [(ngModel)]="rows" (change)="getAllWithParams()">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auto of autos" >
          <th scope="row" class="text-black-50">{{ auto.codigo }}</th>
          <td class="fs-6">{{ auto.marca }}</td>
          <td class="fs-6">{{ auto.modelo }}</td>
          <td class="fs-6">{{ auto.precio | currency }}</td>
          <td *ngIf="showImg" class="fs-6"><img src="{{ auto.foto }}" alt="{{ auto.modelo }}" class="img-table"></td>
          <td *ngIf="auto.calificacion" class="fs-6">
              <i *ngFor="let star of generateStars(auto.calificacion)" class="bi bi-star-fill" style="color: #007bff;"></i>
          </td>
          <td>
            <a [routerLink]="['/autos/' + auto.codigo]"><button class="btn btn-outline-primary mx-2"><i class="bi bi-list"></i></button></a>
  
            <a [routerLink]="['/autos/editar/' + auto.codigo]"><button class="btn btn-primary mx-2"><i class="bi bi-pencil-square "></i></button></a>
            
  
            <!-- <a><button class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#editModal"><i class="bi bi-pencil-square "></i></button></a> -->
            <!-- <app-editar-auto></app-editar-auto> -->
            <!-- <a ><button class="btn btn-primary mx-2"><i class="bi bi-pencil-square "></i></button></a> -->
            <a ><button class="btn btn-primary mx-2" (click)="toggleImg()"><i class="bi bi-app-indicator" ></i></button></a>
  
            <a (click)="borrarAuto(auto.codigo)"><button class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#deleteModal" ><i class="bi bi-x-lg" ></i></button></a>
            <!-- <app-borrar-auto></app-borrar-auto> (click)="nuevoAutoEditar(auto.codigo)" -->
            
            <!-- <a ><button class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-x-lg" ></i></button></a>
  
            
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ¿Estás seguro de eliminar el auto?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" (click)="deleteCar(autoEditar)" >Eliminar</button>
                  </div>
                </div>
                
              </div>
            </div> -->
              
            <!-- (click)="deleteCar(auto.codigo)" -->
          </td>
        </tr>
        
      </tbody>
      <tfoot>
        <tr >
          <td class="">
            <nav aria-label="page navigation example">
              <ul class="pagination  text-end  justify-content-end">
                <li class="page-item">
                  <a class="page-link" (click)="prevPage()">Previous</a>
                </li>

                <li *ngFor="let pag of listaDePaginas" class="page-item" [ngClass]="{'active':pag == page}">
                  <a [(ngModel)]="page" class="page-link" (click)="cambiarPagina(pag)">{{pag}}</a>
                </li>
                
                <li class="page-item">
                  <a class="page-link" (click)="nextPage()">Next</a>
                </li>
              </ul>
            </nav>
          </td>
        </tr>
      </tfoot>
    </table>
</div>

 


