.img-table{
    width: 150px;
    height: 100px; 
    object-fit: cover;
    border-radius: 8px;
}

/* *{
    font-family: "Poppins", sans-serif !important;
} */
*{
    font-family: "Roboto", sans-serif !important;
}

.light-text-table{
    color: #24272b !important;
}