<h2 class="w-75 mx-auto mb-4 col-4 align-self-center">Crear/Nuevo Usuario</h2>

<form [formGroup]="newUserForm" (submit)="onSubmit()" class="text-start w-75 mx-auto mb-5">
  <div class="mb-3">
    <label for="recipient-name" class="col-form-label text-start">ID</label>
    <input type="text" class="form-control" id="recipient-name"
    formControlName="id"
    [ngClass]="{'is-invalid': newUserForm.get('id')?.invalid && newUserForm.get('id')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
    <div class="alert alert-danger" *ngIf="newUserForm.get('id')?.invalid && newUserForm.get('id')?.touched">
      Este campo es requerido. Debe tener uan letra y tres números
    </div>


    <label for="recipient-name" class="col-form-label text-start">Nombre</label>
    <input type="text" class="form-control" id="recipient-name"
    formControlName="nombre"
    [ngClass]="{'is-invalid': newUserForm.get('nombre')?.invalid && newUserForm.get('nombre')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
    <div class="alert alert-danger" *ngIf="newUserForm.get('nombre')?.invalid && newUserForm.get('nombre')?.touched">
        Este campo es requerido. Debe tener entre 3 y 20 caractertes
    </div>

    <label for="recipient-name" class="col-form-label text-start">Apellido</label>
    <input type="text" class="form-control" id="recipient-name"
    formControlName="apellido"
    [ngClass]="{'is-invalid': newUserForm.get('apellido')?.invalid && newUserForm.get('apellido')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
    <div class="alert alert-danger" *ngIf="newUserForm.get('apellido')?.invalid && newUserForm.get('apellido')?.touched">
        Este campo es requerido. Debe tener entre 3 y 20 caractertes
    </div>

    <label for="recipient-name" class="col-form-label text-start">Password</label>
    <input type="text" class="form-control" id="recipient-name"
    formControlName="password"
    [ngClass]="{'is-invalid': newUserForm.get('password')?.invalid && newUserForm.get('password')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
    <div class="alert alert-danger" *ngIf="newUserForm.get('password')?.invalid && newUserForm.get('password')?.touched">
        Este campo es requerido. Debe tener entre 3 y 20 caractertes
    </div>

    <div class="grid" style="display: flex; flex-direction: row;">
      <input type="checkbox" id="checkbox" class="form-check me-2" (click)="checkb()"  formControlName="checkbox" >
      <label for="checkbox">¿Deseas recibir nuestro boletin de noticias?</label>
    </div>

    <div *ngIf="newUserForm.value.checkbox">
      <label for="recipient-name" class="col-form-label text-start">Teléfono</label>
      <input type="text" class="form-control" id="recipient-name"
      formControlName="telefono"
      [ngClass]="{'is-invalid': newUserForm.get('telefono')?.invalid && newUserForm.get('telefono')?.touched && newUserForm.value.checkbox}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
      <div class="alert alert-danger" *ngIf="newUserForm.get('telefono')?.invalid && newUserForm.get('telefono')?.touched && newUserForm.value.checkbox">
          Este campo es requerido. Debe tener entre 3 y 20 caractertes
      </div>
      
      <label for="recipient-name" class="col-form-label text-start">Email</label>
      <input type="text" class="form-control" id="recipient-name"
      formControlName="email"
      [ngClass]="{'is-invalid': newUserForm.get('email')?.invalid && newUserForm.get('email')?.touched && newUserForm.value.checkbox}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
      <div class="alert alert-danger" *ngIf="newUserForm.get('email')?.invalid && newUserForm.get('email')?.touched && newUserForm.value.checkbox">
          Este campo es requerido. Debe tener entre 10 y 20 caractertes
      </div>
    </div>


  </div>

<div class="modal-footer">
  <a [routerLink]="['/']"><button type="button" class="btn btn-secondary mx-3" >Cancelar</button></a> 
  <button type="submit" class="btn btn-primary">Guardar</button>
    <!-- Para que funcione, el submit siempre debe estar antes de cerrar la etiqueta <formArrayNameorm> -->
</div>
</form>
