<nav class="navbar navbar-expand-md bg-light row ms-3">
    <a [routerLink]="['/']" class="navbar-brand col-1 ">
      <img src="./assets/icon_tib.png" style="width: 50px;">
    </a>
    <div class="container-fluid col-10 justify-content-end">
      <!-- <a class="navbar-brand" href="#">TiB Cars</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav col justify-content-end mb-2 mb-lg-0">
           <li class="nav-item">
            <a  [routerLink]="['/']" class="nav-link" routerLinkActive="text-primary" [routerLinkActiveOptions]="{exact: true}" aria-current="page" >Inicio</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/autos/all']" routerLinkActive="text-primary" class="nav-link">Autos</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/autos/crear']" routerLinkActive="text-primary" class="nav-link ">Crear</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/registro/cliente']" routerLinkActive="text-primary" class="nav-link  disabled ">Registrarse</a>
          </li>
          <!-- <li class="nav-item">
            <a [routerLink]="['/autos/:id']" routerLinkActive="text-primary" class="nav-link disabled">Editar</a>
          </li> -->
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>

