<h2 class="w-75 mx-auto">Editar {{auto.marca}} {{auto.modelo}}</h2>
<div *ngIf="auto">
    
    <form [formGroup]="editForm" (onSubmit)="onSubmit()" class="text-start w-75 mx-auto mb-5">
        <div class="mb-3">
          <label for="recipient-name"  class="col-form-label text-start">Código</label>
          <input type="text" class="form-control disabled"  placeholder="{{auto.codigo}}" id="recipient-name"
          formControlName="codigo"
          [ngClass]="{'is-invalid': editForm.get('codigo')?.invalid && editForm.get('codigo')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
          
          <label for="recipient-name" class="col-form-label text-start">Marca</label>
          <input type="text" class="form-control"  placeholder="{{auto.codigo}}" id="recipient-name"
          formControlName="marca"
          [ngClass]="{'is-invalid': editForm.get('marca')?.invalid && editForm.get('marca')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
          <div class="alert alert-danger" *ngIf="editForm.get('marca')?.invalid && editForm.get('marca')?.touched">
              Este campo es requerido. Debe tener entre 3 y 20 caractertes
          </div>
      
          <label for="recipient-name" class="col-form-label text-start">Modelo</label>
          <input type="text"  placeholder="{{auto.modelo}}" class="form-control" id="recipient-name"
          formControlName="modelo"
          [ngClass]="{'is-invalid': editForm.get('modelo')?.invalid && editForm.get('modelo')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
          <div class="alert alert-danger" *ngIf="editForm.get('modelo')?.invalid && editForm.get('modelo')?.touched">
              Este campo es requerido. Debe tener entre 3 y 20 caractertes
          </div>
      
          <label for="recipient-name" class="col-form-label text-start">Precio</label>
          <input type="text" placeholder="{{auto.precio}}" class="form-control" id="recipient-name"
          formControlName="precio"
          [ngClass]="{'is-invalid': editForm.get('precio')?.invalid && editForm.get('precio')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
          <div class="alert alert-danger" *ngIf="editForm.get('precio')?.invalid && editForm.get('precio')?.touched">
              Este campo es requerido. Debe tener entre 3 y 20 caractertes
          </div>
      
          <label for="recipient-name" class="col-form-label text-start">Kilometraje</label>
          <input type="text" placeholder="{{auto.kilometraje}}" class="form-control" id="recipient-name"
          formControlName="kilometraje"
          [ngClass]="{'is-invalid': editForm.get('kilometraje')?.invalid && editForm.get('kilometraje')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
          <div class="alert alert-danger" *ngIf="editForm.get('kilometraje')?.invalid && editForm.get('kilometraje')?.touched">
              Este campo es requerido. Debe tener entre 3 y 20 caractertes
          </div>
    
          <label for="recipient-name" class="col-form-label text-start">Año</label>
          <input type="text"  placeholder="{{auto.anio}}" class="form-control" id="recipient-name"
          formControlName="anio"
          [ngClass]="{'is-invalid': editForm.get('anio')?.invalid && editForm.get('anio')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
          <div class="alert alert-danger" *ngIf="editForm.get('anio')?.invalid && editForm.get('anio')?.touched">
              Este campo es requerido. Debe tener entre 3 y 20 caractertes
          </div>
      
          <label for="recipient-name" class="col-form-label text-start">Calificación</label>
          <input type="text"  placeholder="{{auto.calificacion}}" class="form-control" id="recipient-name"
          formControlName="calificacion"
          [ngClass]="{'is-invalid': editForm.get('calificacion')?.invalid && editForm.get('calificacion')?.touched}"> <!-- esto relaciona el input con los atributos creados en el formGroup -->
          <div class="alert alert-danger" *ngIf="editForm.get('calificacion')?.invalid && editForm.get('calificacion')?.touched">
              Este campo es requerido. Debe tener entre 3 y 20 caractertes
          </div>
      
        </div>
        <div class="mb-3">
          <label for="message-text"  class="col-form-label text-start">Foto (URL)</label>
          <textarea class="form-control" placeholder="{{auto.foto}}" id="message-text"
          formControlName="foto"
          [ngClass]="{'is-invalid': editForm.get('foto')?.invalid && editForm.get('foto')?.touched}"></textarea>
          <div class="alert alert-danger" *ngIf="editForm.get('foto')?.invalid && editForm.get('foto')?.touched">
              Este campo es requerido. Debe tener entre 10 y 50 caractertes
          </div>
        </div>
    
      <div class="modal-footer">
        <a [routerLink]="['/autos']"><button type="button" class="btn btn-secondary mx-3" >Cancelar</button></a> 
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Actualizar</button>
          <!-- Para que funcione, el submit siempre debe estar antes de cerrar la etiqueta <formArrayNameForm> -->
      </div>
    </form>
</div>