<div class="card mb-3 cont" *ngIf="auto">
    <img src="{{auto.image}}" class="card-img-top" style="height: 500px;max-height: 500px; object-fit: cover;" alt="...">
    <div class="card-body">
      <h4 class="card-title text-center display-5">{{auto.name}}</h4>
      <p class="card-text">{{auto.detail}}</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      
      <div class="container-fluid text-center">
        <a href=""><button class="btn btn-primary">Vender</button></a>
      </div>  
    </div>
</div>


<div class="container text-center" *ngIf="!auto">

    <h1 class="fs-1"><i class="bi bi-bug-fill"></i> </h1>
    <h1>Lo sentimos</h1>
    <h3>La página que buscas no existe :c</h3>
</div>



