
<div *ngIf="auto" class="text-center" >
  <div class="">
    <ul class="nav nav-car mx-auto py-2">
      <li class="nav-item col-1">
        <a class="nav-link " aria-current="true" 
        (click)="activeTab = main" [ngClass]="
          {'text-primary':activeTab===main, 'text-black-50':activeTab!=main}">Overview</a>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link " (click)="activeTab=detail1" [ngClass]="{'text-primary':activeTab===detail1, 'text-black-50':activeTab!=detail1}" >Detalles</a>
      </li>
      <li class="nav-item col-2 text-start">
        <a class="nav-link " (click)="activeTab=detail2" [ngClass]="{'active':activeTab==detail2, 'text-primary':activeTab==detail2, 'text-black-50':activeTab!=detail2}">Agendar prueba</a>
      </li>
      <div class="col-8 text-end pe-3" >
        <a [routerLink]="['/autos/editar/' + auto.codigo]"><button class="btn btn-primary mx-2 "><i class="bi bi-pencil-square "></i> Editar</button></a>
      </div>
      <!-- <hr class="w-50" style="margin-left:0.5rem"> -->
    </ul>

  </div>
  <ng-container class="card-body" [ngTemplateOutlet]="activeTab">
    
  </ng-container>
</div>

<!-- Ng templates -->
<!-- 1 -->
<ng-template #main>
  <div class="text-start overview mt-3">
    <img src="{{auto.foto}}" class="card-img-top mx-auto my-2" style="width:auto;height: auto;max-height: 400px; object-fit: cover;" alt="...">
    <div class="w-75 my-auto">
      <span class="w-100">
      <span class="text-black-50 mt-1">{{auto.marca}}</span>
      <h2 class=" my-2">{{  auto.modelo }}</h2>
        <i *ngFor="let star of generateStars(auto.calificacion)" class="bi bi-star-fill mx-1" style="color: #007bff;"></i>
      </span>
      <p class="card-text my-3" style="margin: 0 auto">Aerodinámico, veloz, y del tamaño de tu bolsillo. Un auto pensado para perdurar en tus recuerdos en forma de experiencias únicas</p>
      <a class="btn btn-primary disabled my-3" style="width: 100px;margin: 0 auto">Comprar</a>

    </div>
  </div>
</ng-template>
<!-- 2 -->
<ng-template #detail1>
  <div class="body-detail">
    <div class="bdetail-content">
      <div class="my-3">
        <span class="text-black-50">{{ auto.marca }}</span>
        {{ auto.modelo }}
      </div>
      <div class="fs-5">
        <span class="text-black-50">Precio (incluye IVA)</span>
        <p class="mb-0">{{ auto.precio | currency }}</p>
        <hr class="w-25 mx-auto">
        <span class="text-black-50">Año de lanzamiento</span>
        <p class="mb-0">{{ auto.anio }}</p>
        <hr class="w-25 mx-auto">
        <span class="text-black-50">KM</span>
        <p class="mb-0">{{ auto.kilometraje }}</p>
        
        <!-- <blockquote class="blockquote mb-0">
        </blockquote> -->
      </div>
    </div>
  </div>
</ng-template>
<!-- 3 -->
<ng-template #detail2>
  <div class="body-detail">
    <div class="bdetail-content">
      <div class="my-3">
        <span class="text-black-50">{{ auto.marca }}</span>
        {{ auto.modelo }}
      </div>
      <div class="fs-5">
        <span class="text-black-50">Agente de Ventas</span>
        <p class="mb-0">{{ auto.usuario }}</p>
        <hr class="w-25 mx-auto">
        <button class="btn btn-primary disabled">Agendar</button>
        
        <!-- <blockquote class="blockquote mb-0">
        </blockquote> -->
      </div>
    </div>
  </div>
  <!-- <div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-header">
      <span class="text-black-50">{{ auto.marca }}</span>
      {{ auto.modelo }}
    </div>
    <div class="card-body">
      <blockquote>
        <span class="text-black-50">Agente de ventas</span>
        <p>{{ auto.usuario }}</p>
        <button class="btn btn-primary disabled">Agendar</button>
      </blockquote>
      
    </div>
  </div> -->
</ng-template>

<!-- Mensaje de error -->
<div class="container-fluid d-grid justify-content-center align-content-center text-center h-100" *ngIf="!auto">
  <div class="spinner-border align-self-center my-auto" style="width: 3rem; height: 3rem; " role="status">
  </div>
</div>
<!-- <span class="fs-3">Cargando...</span> -->

 <!--  <h1 class="fs-1"><i class="bi bi-bug-fill"></i> </h1>
  <h1>Lo sentimos</h1>
  <h3>La página que buscas no existe :c</h3> -->



