<!-- <div class="card mb-3 cont" *ngIf="auto">
    <img src="{{auto.foto}}" class="card-img-top" style="height: 500px;max-height: 500px; object-fit: cover;" alt="...">
    <div class="card-body">
      <h4 class="card-title text-center display-5">{{auto.modelo}}</h4>
      <p class="card-text">...</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      
      <div class="container-fluid text-center">
        <a href=""><button class="btn btn-primary">Vender</button></a>
      </div>  
    </div>
</div> -->
<div *ngIf="auto" class="card text-center" >
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active text-primary" aria-current="true" (click)="activeTab=main" [ngClass]="
          {'active text-primary':activeTab==main, 'text-primary':activeTab==main, 'text-black-50':activeTab!=main}">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black-50" (click)="activeTab=detail1" [ngClass]="{'active':activeTab==detail1, 'text-primary':activeTab==detail1}" >Detalles</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-black-50" (click)="activeTab=detail2" [ngClass]="{'active':activeTab==detail2, 'text-primary':activeTab==detail2}">Agendar prueba</a>
      </li>
    </ul>
  </div>
  <ng-container class="card-body" [ngTemplateOutlet]="activeTab">
    
  </ng-container>
</div>

<!-- Ng templates -->
<!-- 1 -->
<ng-template #main>
  <div class="card text-center ">
    <h2 class="card-title my-2">{{  auto.modelo }}</h2>
    <img src="{{auto.foto}}" class="card-img-top mx-auto my-3" style="width:auto;height: auto;max-height: 400px; object-fit: cover;" alt="...">
    <span class="w-100">
      <i *ngFor="let star of generateStars(auto.calificacion)" class="bi bi-star-fill" style="color: #007bff;"></i>
    </span>
    <p class="card-text w-50 my-3" style="margin: 0 auto">Aerodinámico, veloz, y del tamaño de tu bolsillo. Un auto pensado para durar, y perdurar en tus recuerdos en forma de experiencias únicas</p>
    <a class="btn btn-primary disabled w-25 mb-3" style="margin: 0 auto">Comprar</a>
  </div>
</ng-template>
<!-- 2 -->
<ng-template #detail1>
  <div class="card">
    <div class="card-header">
      <span class="text-black-50">{{ auto.marca }}</span>
      {{ auto.modelo }}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <span class="text-black-50">Precio (incluye IVA)</span>
        <p class="mb-0">{{ auto.precio | currency }}</p>
        <hr>
        <span class="text-black-50">Año de lanzamiento</span>
        <p class="mb-0">{{ auto.anio }}</p>
        <hr>
        <span class="text-black-50">KM</span>
        <p class="mb-0">{{ auto.kilometraje }}</p>
        <hr>
      </blockquote>
    </div>
  </div>
</ng-template>
<!-- 3 -->
<ng-template #detail2>
  <div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-header">
      <span class="text-black-50">{{ auto.marca }}</span>
      {{ auto.modelo }}
    </div>
    <div class="card-body">
      <blockquote>
        <span class="text-black-50">Agente de ventas</span>
        <p>{{ auto.usuario }}</p>
        <button class="btn btn-primary disabled">Agendar</button>
      </blockquote>
      
    </div>
  </div>
</ng-template>

<!-- Mensaje de error -->
<div class="container-fluid justify-content-center text-center" style="margin: auto 0" *ngIf="!auto">
  <div class="spinner-border align-self-center" style="width: 3rem; height: 3rem; " role="status">
  </div>
</div>
<!-- <span class="fs-3">Cargando...</span> -->

 <!--  <h1 class="fs-1"><i class="bi bi-bug-fill"></i> </h1>
  <h1>Lo sentimos</h1>
  <h3>La página que buscas no existe :c</h3> -->



